<div class="sidebar">
    <span class="nav-section-title">
        <strong>Getting</strong> Started
    </span>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="getting-started-how-it-works.html">How it works</a></li>
        <li><a href="getting-started-installation.html">Installation</a></li>
        <li><a href="getting-started-hosting.html">Hosting</a></li>
        <li><a href="getting-started-faq.html">FAQ</a></li>
    </ul>
    <span class="nav-section-title">
        <strong>Features</strong>
    </span>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="features-packages.html">Packages</a></li>
        <li><a href="features-security.html">Security</a></li>
        <li><a href="features-connections.html">Connections</a></li>
        <li><a href="features-omnibox.html">Omnibox</a></li>
        <li><a href="features-plugins.html">Plugins</a></li>
    </ul>
    <span class="nav-section-title">
        <strong>Developers</strong>
    </span>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="developers-architecture.html">Architecture</a></li>
        <li><a href="developers-plugins.html">Plugins</a></li>
        <li><a href="developers-protocols.html">Protocols</a></li>
        <li><a href="developers-packages.html">Publishing Packages</a></li>
    </ul>
    <span class="nav-section-title">
        <strong>Documentation</strong>
    </span>
    <ul class="nav nav-pills nav-stacked">
        <li><a href="documentation-style-guide.html">Style Guide</a></li>
    </ul>
</div>
